<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body class="index" style="background: linear-gradient(
    -90deg, #090a10 0%, #1DD25E
); min-height: 100vh; max-height: auto; color: white;">
    <section class="section">
        <div class="container">
            <h1 class="title" style="color: white;">Lyrics Search</h1>
            <div class="field">
                <label class="label" for="query" style="color:white;">Enter song or artist name</label>
                <div class="control">
                    <input class="input" type="text" autofocus autocomplete="off" id="query" placeholder="Search for lyrics...">
                </div>
            </div>
            <div class="control">
                <button class="button is-link" onclick="searchLyrics()" style="background: rgb(194, 76, 92);">Search</button>
            </div>
            <div id="results" style="display: flex; flex-direction: column;" class="content mt-5"></div>
            unfinishedproject10
        </div>
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
